* { 
  boder: 1px solid rgba(0, 0, 0, 0.3);
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("/Users/WilliamCrozier/Desktop/ua_bootCamp/Homework/Basic-Portfolio/assets/images/topography.png");
}


html {
	height: 100%;
	margin: 0;
	padding: 0;
}

#wrapper {
	min-height: 100%;
	min-width: 100%;
	position: relative;
}

/* Styling for the header*/
.header {
	height: 90px;
	background: white;
	border-bottom: 1px solid #dfdfdf;
}

/* Styling for name */
#name {
	height: 100%;
	width: 275px;
	position: relative;
	left: 155px;
	background: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 36px;
	color: white;
}

/* Horizontally and vertically centers name */
h1 {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.nav {
	height:100%;
	width: 400px;
	position: relative;
	left: 780px;
	bottom: 92px;
	float: left;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;

}

/* Styling for navigation bar text */

#about {
	display: inline-block;
	position: relative;
  	top: 50%;
  	margin: 0px;
  	transform: translateY(-50%);
  	width: 80px;
  	text-align: center;
}

#portfolio {
	display: inline-block;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100px;
  	text-align: center;
  	border-left: 0.5px solid #dfdfdf;
  	border-right: 0.5px solid #dfdfdf;
}

#contact {
	display:inline-block;
	position: relative;
	text-align: center;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 80px;
  	text-align: center;
}

.bodycontainer {
	position: relative;
	top: 40px;
	left: 155px;
	width: 650px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: white;
}
.bodyheader {
	position: relative;
	margin: 0px 30px 0px 30px;
	height: 100px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 36px;
	color: #4aaaa5;
	border-bottom: 3px solid #dfdfdf;
}

/* styling for content header text */
h2 {
	position: relative;
	float:left;
	right: 372px;
	top: 50%;
	transform: translateY(-50%);
}

.content {
	margin: 30px 30px 30px 30px;	
}

#profpic {
	position: relative;
	height: 150px;
	width: 200px;
	float: left;
	padding: 0px 25px 20px 0px;
}

p {
	position: relative;
	line-height: 30px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;

}

.connect {
	float: left;
	width: 270px;
	height: 205px;
	position: fixed;
	left: 848px;
	bottom: 460px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: white;
	max-height: ;
}

.connectheader {
	position:relative;
	margin: 0px 30px 0px 30px;
	height: 75px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	text-align: center;
	color: #4aaaa5;
	border-bottom: 3px solid #dfdfdf;
}

.connectbody {
	margin: 25px 30px 0px 30px
}

/* Styling for social media images */
#gitHub {
	width: 60px;
	height: 60px;
	margin-right: 10px;
}

#linkedIn {
	width: 60px;
	height: 60px;	
}

#stack {
	width: 60px;
	height: 60px;
	float:right;
}


.projectsleft {
	width: 265px;
	height: 200px;
	position: relative;
	display: inline-block;
	margin: 0px 50px 45px 0px;
}

.projectsright {
	width: 265px;
	height: 200px;
	position: relative;
	display: inline-block;
}


h3 {
	position: relative;
	text-align: center;
	top: 133px;
	height: 55px;
	line-height: 55px;
	background: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 18px;
	color: white;
}
